{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in user.messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>
          <div class="message-area">
            {% if message.user_id != g.user.id %}
              <form 
              action="/likes/{{ message.id }}"
              method="POST"
              class="d-inline position-relative like-form">
              {{ form.hidden_tag() }}
                <button 
                  class="btn btn-link p-0">
                  {% if message in g.user.liked_messages %}
                    <i class="fas fa-dove"></i>
                  {% else %}
                    <i class="fas fa-dove text-secondary"></i>
                  {% endif %}
                </button>
              </form>
            {% endif %}
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
            <p>{{ message.text }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}